
{% if page.content.size > 0 %}
	<div class="rte helpWrapper">
      {{ page.content }}

      <div class="help_contactForm">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}
		  
          <section id="help_contactFormName">
            <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" placeholder="name" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </section>
		  
          <section id="help_contactFormEmail">
            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true"></span></label>
            <input
              type="email"
              id="{{ formId }}-email"
              name="contact[email]"
              placeholder="email"
              autocorrect="off"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {%- if form.errors contains 'email' -%}
                class="input--error"
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
              {%- endif -%}
              >
            {%- if form.errors contains 'email' -%}
              <span id="{{ formId}}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              </span>
            {%- endif -%}
          </section>
          
          <section id="help_contactFormOrderNum">
            <label for="ordernumberInput">{{ 'contact.form.orderNumber' | t }}</label>
            <input type="number" id="ordernumberInput" name="contact[{{ 'contact.form.orderNumber' | t }}]">
          </section>
        
		  <section id="help_contactFormMessage">
            <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="{{ formId }}-message" placeholder="start typing..." name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          </section>
			
          <section id="help_contactSubmit">
          	<input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">
          </section>

        {% endform %}
      </div>
	</div>

{% endif %}